*,
*::before,
*::after {
  box-sizing: border-box;
}

a.button {
  text-decoration: none;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0ece2;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.fade-in {
  color: #4169e0;
  animation: fadeIn 2s ease-in-out forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

#start-button {
  background-color: #4169e0;
  color: #f0ece2;
  padding: 0.75em 1.5em;
  font-size: 1.2em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
  opacity: 0;
}

#start-button:hover {
  background-color: #2d4dbf;
}

#start-button:focus {
  transform: scale(1.05);
  border: 2px solid #2d2d2d;
}

#start-button.fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}

.quiz-selection {
  display: flex;
  flex-direction: column; 
  gap: 10px; 
}

.quiz-selection h1 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #4169E0;
}


.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
  justify-content: center;
  padding: 1rem;
  border-radius: 0.5rem;
}

.card-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.9);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
  padding: 1rem;
  width: 18rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
}

.card-item:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.movement-title {
  color: #4169E0;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.movement-info {
  color: #14110B;
  font-size: 0.9rem;
  margin-bottom: 1rem;
  text-align: center;
}

.movement-info.hidden,
.card-item button.hidden {
  display: none;
}

.card-item:hover .movement-info,
.card-item:hover button {
  display: block;
}

.card-item button {
  padding: 0.5rem 1rem;
  background-color: #4169E0;
  color: #f0ece2;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.card-item button:hover {
  background-color: #2D4DBF;
  transform: scale(1.05);
}

.quiz-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 22%;
  margin: 2% auto;
  border-radius: 0.75em;
  padding: 2em;
  background-color: #9b9fc7;
  color: black;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

form {
  width: 100%;
  max-width: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#name {
  width: 100%;
  max-width: 100%;
  padding: 0.75em;
  border: 2px solid #a0a2ab;
  border-radius: 0.5em;
  background-color: #f0ece2;
  color: #2d2d2d;
  font-size: 1em;
  outline: none;
  transition: border-color 0.3s ease;
}

#name:focus {
  border-color: #2d2d2d;
}

input[type="submit"],
#hint-button {
  margin-top: 1em;
  padding: 0.75em 1.5em;
  cursor: pointer;
  background-color: #4169e0;
  color: #f0ece2;
  border: none;
  border-radius: 0.5em;
  font-size: 1.1em;
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

input[type="submit"]:hover,
#hint-button:hover {
  background-color: #2d4dbf;
}

input[type="submit"]:focus,
#hint-button:focus {
  transform: scale(1.05);
  border: 2px solid #2d2d2d; 
}


.hint-container {
  color: #14110b;
  margin-top: 1em;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5em;
  width: 100%;
}

.hint-container span {
  width: 100%;
  word-wrap: break-word;
}

.hidden {
  display: none;
}

.intro {
  text-align: center;
}

#artwork-image {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 90%;
  max-height: 70vh;
  margin: auto;
  margin-bottom: 2rem; /* Adds space below the painting */
}

#artwork-image picture img {
  width: 100%;
  height: auto; /* Keeps the aspect ratio intact */
  object-fit: contain; /* Ensures the image fits within the container */
  display: block;
}


#success-message {
  color: #14110b;
}

.counter {
  color: #f0ece2;
}

.quit-button {
  background-color: #4169e0;
  color: #f0ece2;
  padding: 0.75em 1.5em;
  font-size: 1.1em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
  margin-top: 1em;
  transition: transform 0.3s ease, background-color 0.3s ease, border 0.3s ease;
}

.quit-button:hover {
  background-color: #2d4dbf;
}

.quit-button:focus {
  transform: scale(1.05);
  border: 2px solid #2d2d2d;
}


.landscape {
  max-width: 100%;
  max-height: 50rem;
}

@media (min-width: 481px) and (max-width: 958px ) {
  .quiz-container {
    max-width: 60%;
  }
  
  #artwork-image picture img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #start-button,
  #submit-button,
  #hint-button {
    padding: 0.4em 0.8em;
    font-size: 0.9em; 
  }

  
  #name {
    width: 100%;
    max-width: 100%;
    padding: 0.5em; 
  }
}

@media (max-width: 480px) {

  .quiz-container {
    max-width: 55%;
  }
  
  #artwork-image {
    width: 100%;
    height: auto; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  /*#artwork-image picture {
    width: 100%;
    height: 100%; 
    display: flex; 
  }
  
  #artwork-image picture img {
    width: 100%;
    height: 100%; 
    object-fit: contain;
  }
*/
  #start-button,
  #submit-button,
  #hint-button {
    padding: 0.4em 0.8em;
    font-size: 0.9em; 
  }

  
  #name {
    width: 100%;
    max-width: 100%;
    padding: 0.5em; 
  }
}
