* :: before,
* :: after {
  box-sizing: border-box;
}

body {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
}

.title {
  text-align: center;
  color: #a6549e;
}

#quiz-container {
  background-color: rgba(138, 43, 226, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 20%;
  margin: 0 auto;
  border-radius: 0.75em;
  padding: 2em;
}

#artwork-image {
  display: flex;
  justify-content: center;
  align-items: center;
}

#artwork-image img {
  max-width: 100%;
  max-height: 60%;
}

#art-form {
  margin-top: 1em;
}

form button {
  font-size: 1.25rem;
  margin-top: 2rem;
  width: 100%;
  border-radius: 0.2rem;
  background-color: #9cbae6;
  border: 2px solid transparent;
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 1) 0%,
    rgba(148, 187, 233, 1) 100%
  );
  position: relative;
  overflow: hidden;
}

form button:hover {
  background: radial-gradient(
    circle,
    rgba(238, 174, 202, 0.8) 0%,
    rgba(148, 187, 233, 0.8) 100%
  );
}

.hint-container span {
  display: block;
  color: #f0f0f0;
}

@media screen and (max-width: 768px) {
  #art-form {
    max-width: 80%;
    overflow: hidden;
  }
}

@media screen and (max-width: 480px) {
  #quiz-container {
    flex-direction: column;
    align-items: center;
    max-width: 50%;
  }

  #artwork-image {
    margin-bottom: 1em;
  }

  #art-form {
    max-width: 90%;
    overflow: hidden;
  }
}
