
*, *::before,*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0 solid transparent;
}


body {
  min-height: 100vh;
  line-height: 1;
  text-rendering: optimizeSpeed;
}

img {
    max-width: 25%;
    max-height: auto; 
    display: block; 
    margin: auto; 
}

.hint-container span {
  display: block;
  margin-bottom: 5px; 
}
